---
http:
  middlewares:
    https-redirect-keycloak:
      redirectscheme:
        scheme: https
        port: 8170

  routers:
    horizon:
      service: horizon
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - http

    keycloak:
      service: keycloak
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - keycloak
      middlewares:
        - https-redirect-keycloak
      tls:
        certresolver: http

    keystone-admin:
      service: keystone-admin
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - keystone-admin

    keystone-public:
      service: keystone-public
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - keystone-public

  services:
    horizon:
      loadBalancer:
        servers:
          - url: http://{{ kolla_internal_vip_address }}:80/

    keycloak:
      loadBalancer:
        servers:
          - url: http://{{ kolla_internal_vip_address }}:8170/

    keystone-admin:
      loadBalancer:
        servers:
          - url: http://{{ kolla_internal_vip_address }}:35357/

    keystone-public:
      loadBalancer:
        servers:
          - url: http://{{ kolla_internal_vip_address }}:5000/
