---
http:
  middlewares:
    https-redirect-horizon:
      redirectscheme:
        scheme: https
        port: 443

    https-redirect-keystone-admin:
      redirectscheme:
        scheme: https
        port: 35357

    https-redirect-keystone-public:
      redirectscheme:
        scheme: https
        port: 5000

    https-redirect-keycloak:
      redirectscheme:
        scheme: https
        port: 8170

  routers:
    horizon:
      service: horizon 
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - https
      middlewares:
        - https-redirect-horizon
      tls:
        certresolver: http

    keycloak:
      service: keycloak
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - keycloak
      middlewares:
        - https-redirect-keycloak
      tls:
        certresolver: http

    keystone-admin:
      service: keystone-admin
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - keystone-admin
      middlewares:
        - https-redirect-keystone-admin
      tls:
        certresolver: http

    keystone-public:
      service: keystone-public
      rule: Host(`testbed-gx-iam.osism.test`)
      entryPoints:
        - keystone-public
      middlewares:
        - https-redirect-keystone-public
      tls:
        certresolver: http

  services:
    horizon:
      loadBalancer:
        servers:
          - url: http://{{ hostvars[inventory_hostname]['ansible_' + management_interface]['ipv4']['address'] }}:80/

    keystone-admin:
      loadBalancer:
        servers:
          - url: http://{{ kolla_internal_vip_address }}:35357/

    keystone-public:
      loadBalancer:
        servers:
          - url: http://{{ kolla_internal_vip_address }}:5000/

    keycloak:
      loadBalancer:
        servers:
          - url: http://{{ kolla_internal_vip_address }}:8170/
