---
api:
  dashboard: false

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"
  keystone-admin:
    address: ":35357"
  keystone-public:
    address: ":5000"
  keycloak:
    address: ":8170"

providers:
  file:
    filename: "/etc/traefik/services.yml"

certificatesResolvers:
  http:
    acme:
      email: {{ traefik_acme_email }}
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: http
